<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasta Randevu Sistemi</title>
    <link href="~/Content/menu.css" rel="stylesheet" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@@*menü geldi popup yok*@
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -- gelmiyor menü*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




</head>
<body style="background-color:#eee">

    <div id="nav">
        <div class="navbar navbar-inverse navbar-fixed-top" data-spy="affix" data-offset-top="100">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand " href="@Url.Action("Create","Randevu")">

                        <img class="img-responsive logo" src="~/Content/mhrsicon.png" />
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">

                    <ul class="nav navbar-nav navbar-expand-md">
                        <li @*class="active"*@>
                            <a class="fa fa-user-md" style="font-size:18px;" href="@Url.Action("Create","Randevu")"> Randevu Al</a>
                        </li>
                        <li class="dropdown show">
                            <a href="#about" class="fa fa-user-circle-o dropdown-toggle " role="button" data-toggle="dropdown" style="font-size:18px;"> Hesap Bilgilerim</a>
                            @*<a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                    Hesap Bilgilerim
                                </a>*@

                            <div class="dropdown-menu btn-secondary" style="background-color:#333">
                                <a class="dropdown-item fa fa-id-card " style="font-size:17px; padding-left:10px;color:white" href="#"> Kimlik Bilgileri</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item fa fa-phone" href="#" style="font-size:17px;padding-left:10px;color:white">  &nbsp;İletişim Bilgileri</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item fa fa-key " href="#" style="font-size:17px;padding-left:10px;color:white"> Parola İşlemleri</a>
                            </div>
                        </li>
                        <li>
                            <a href="#contact" class="fa fa-history" style="font-size:18px;"> Randevu Geçmişi</a>
                        </li>


                        <li class="dropdown show">
                            <a href="#about" class="fa fa-user dropdown-toggle " role="button" data-toggle="dropdown" style="font-size:18px;"> Sn. @Session["hastaAd"] @Session["hastaSoyad"]</a>
                            <div class="dropdown-menu btn-secondary" style="background-color:#333">
                                <a class="dropdown-item glyphicon glyphicon-log-out" style="font-size:17px; padding-left:10px;color:white" href="#"> Çıkış Yap</a>
                                @*<a href="" data-toggle="modal" data-target="#exampleModal">Çıkış Yap</a>*@
                            </div>
                        </li>


                    </ul>

                </div>

                <!--/.nav-collapse -->
            </div>
            <!--/.contatiner -->
        </div>
    </div>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
            </div>
            <!-- /row -->

            <div class="container">
           

             
                @RenderBody()

            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>@*bootsraptan önce jquery çağır. önce js sonra diğerleri eklenmeli.*@
    @*<script src="~/Scripts/popper.min.js"></script>*@


    @*<script src="~/Scripts/popper.js"></script>*@





    @RenderSection("scripts", required: false)
    <script>
        $(window).scroll(function () {
            if ($(document).scrollTop() > 150) {
                //alert('hi');
                $('.logo').height(100);

            }
            else {
                $('.logo').height(100);
            }
        });

  

    </script>
</body>
</html>
