@model newMHRS.Models.Hasta

@{
    ViewBag.Title = "Details";
}



<div>

    <hr />


    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" style="text-align:center">
                    Kimlik Bilgileri
                </a>
                <a href="#" style="text-align:center" class="list-group-item list-group-item-action">           Ad : @Html.DisplayFor(model => model.Ad)</a>
                <a href="#" style="text-align:center" class="list-group-item list-group-item-action">Soyad : @Html.DisplayFor(model => model.Soyad)</a>
                <a href="#" style="text-align:center" class="list-group-item list-group-item-action">Cinsiyet :  @Html.DisplayFor(model => model.Cinsiyet)</a>
                <a href="#" style="text-align:center" class="list-group-item list-group-item-action ">Doğum Tarihi :  @Html.DisplayFor(model => model.DogumTarihi)</a>
                <a href="#" style="text-align:center" class="list-group-item list-group-item-action ">Doğum Yeri :  @Html.DisplayFor(model => model.DogumYeri)</a>
                <a href="#" style="text-align:center" class="list-group-item list-group-item-action ">Anne Adı :  @Html.DisplayFor(model => model.AnneAdi)</a>
                <a href="#" style="text-align:center" class="list-group-item list-group-item-action ">Baba Adı :  @Html.DisplayFor(model => model.BabaAdi)</a>
                @*<a href="@Html.ActionLink("Edit", "Edit", new { id = Model.Id })" style="text-align:center" class="list-group-item list-group-item-action ">Edit</a>*@

                <a href="@Url.Action("Edit","HastaBilgi")" style="text-align:center" class="list-group-item list-group-item-action ">
 
                            <input type="submit" value="Bilgileri Düzenle" class="btn btn-success" />

                </a>
           
            </div>
        </div>
      <div class="col-md-2">

      </div>

    </div>
   


</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
 
</p>
