@model newMHRS.Models.AdminClass
@{
    ViewBag.Title = "AdminLogin";
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Login V15</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->

    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="~/Areas/Content/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Content/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Content/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Content/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Content/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Content/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Content/css/main.css">
    
    
    <link href="~/Content/hastaGiris.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>
    @*<div class="container">*@
    <div id="login-div">

        @using (Html.BeginForm("AdminLogin", "Home", FormMethod.Post))
        {
            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <div class="fadeIn first">
                     
                        @*<a href="@Url.Action("Index","Home")">*@
                        <img style="width:180px" src="~/Content/mhrsicon.png" id="icon" alt="User Icon" />
                        @*</a>*@
                    </div>
                    <br /><br />

                          <form>

                              <label class="fa fa-user " style="margin-left:20px;color:dodgerblue;font-size:25px">  Admin Girişi </label>
                              <label style="margin-left:14px;color:dodgerblue;font-size:15px">TC :</label>
                              @Html.TextBoxFor(model => model.Tc, new { @class = "fadeIn second", @id = "login", @name = "login" })
                              <label class="field-validation-error text-danger">
                                  @Html.ValidationMessageFor(model => model.Tc)
                              </label><br />
                              <label style="margin-left:5px;color:dodgerblue;font-size:15px">Şifre :</label>
                              @Html.TextBoxFor(model => model.Sifre, new { @class = "fadeIn third", @id = "password", @name = "login" })
                              <label class="field-validation-error text-danger">
                                  @Html.ValidationMessageFor(model => model.Sifre)
                                  @ViewBag.Message<br />

                                  @ViewBag.Mesaj <br />
                                  @ViewBag.Var
                              </label>
                           
                              <input type="submit" class="fadeIn fourth" value="Giriş">
                          </form>
                  
                </div>
            </div>




        }



    </div>

    <!--===============================================================================================-->
    <script src="~/Areas/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Content/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Content/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Areas/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Content/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Content/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Areas/Content/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Content/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Content/js/main.js"></script>

</body>
</html>