@model newMHRS.Models.AdminClass
@{
    ViewBag.Title = "AdminLogin";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V15</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->

    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="~/Areas/Content/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Content/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Content/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Content/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Content/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Content/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Content/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="container">

        @ViewBag.Mesaj
        @ViewBag.Var
        @using (Html.BeginForm("AdminLogin", "Home", FormMethod.Post))
        {
            <div class="form-group">

                @Html.LabelFor(m => m.Tc)
                @Html.TextBoxFor(m => m.Tc, new { @class = "form-control", placeholder = "Tc'niz" })

            </div>

            <div class="form-group">

                @Html.LabelFor(m => m.Sifre)
                @Html.PasswordFor(m => m.Sifre, new { @class = "form-control", placeholder = "Şifreniz" })

            </div>



            <button type="submit" class="login100-form-btn">
                Giriş Yap
            </button>



        }



    </div>

    <!--===============================================================================================-->
    <script src="~/Areas/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Content/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Content/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Areas/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Content/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Content/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Areas/Content/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Content/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Content/js/main.js"></script>

</body>
</html>