@model IEnumerable<newMHRS.Models.Hasta>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Hasta Kaydı Oluşturmak İçin Tıklayın.", "Create")
</p>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">
                @*@Html.DisplayNameFor(model => model.Tc)*@
                <label>Tc Kimlik Numara</label>
            </th>
            <th scope="col">
                @*@Html.DisplayNameFor(model => model.Ad)*@
                <label>Ad</label>
            </th>
            <th scope="col">
                @*@Html.DisplayNameFor(model => model.Soyad)*@
                <label>Soyad</label>
            </th>
            <th scope="col">
                @*@Html.DisplayNameFor(model => model.Cinsiyet)*@
                <label>Cinsiyet</label>
            </th>
            <th scope="col">
                @*@Html.DisplayNameFor(model => model.DogumTarihi)*@
                <label>Doğum Tarihi</label>
            </th>
            <th scope="col">
                @*@Html.DisplayNameFor(model => model.DogumYeri)*@
                <label>Doğum Yeri</label>
            </th>
            <th scope="col">
                @*@Html.DisplayNameFor(model => model.AnneAdi)*@
                <label>Anne Adı</label>
            </th>
            <th scope="col">
                @*@Html.DisplayNameFor(model => model.BabaAdi)*@
                <label>Baba Ad</label>
            </th>
            <th scope="col">
                @*@Html.DisplayNameFor(model => model.CepTel)*@
                <label>Cep Telefon</label>
            </th>
            <th scope="col">
                @*@Html.DisplayNameFor(model => model.Mail)*@
                <label>E-Mail</label>
            </th>
            @*<th scope="col">
                @Html.DisplayNameFor(model => model.Sifre)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Tc)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Ad)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Soyad)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Cinsiyet)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.DogumTarihi)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.DogumYeri)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.AnneAdi)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.BabaAdi)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.CepTel)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                @*<td scope="row" >
                    @Html.DisplayFor(modelItem => item.Sifre)
                </td>*@
                <td scope="row" class="text-nowrap">
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm " })
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>

</table>
