@model IEnumerable<newMHRS.Models.Randevu>

@{
    ViewBag.Title = "MHRS";

}



<p>
    @Html.ActionLink("Yeni Randevu Almak İçin Tıklayın", "Create")
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">

                <label>Randevu Tarihi</label>

            </th>
            <th scope="col">
                <label>Doktor Adı</label>

            </th>
            <th scope="col">
                <label>Hastane Adı</label>

            </th>
            <th scope="col">
                <label>Bölüm Adı</label>

            </th>
            <th scope="col">
                <label>Adres</label>

            </th>

            <th scope="col">
                <label>Randevu Durumu</label>

            </th>
            <th scope="col">

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Tarih)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Doktor.Ad)
                    @Html.DisplayFor(modelItem => item.Doktor.Soyad)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Hastahane.Ad)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Bolum.Ad)
                </td>

                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Sehir.Ad) -   @Html.DisplayFor(modelItem => item.Ilce.Ad)
                </td>



                <td scope="row">
                    @Html.DisplayFor(modelItem => item.RandevuDurum)
                </td>

                <td scope="row" class="text-nowrap">
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@

                    @if (item.RandevuDurum == "Geçmiş Randevu" || item.RandevuDurum == "İptal")
                    {
                        //  <a class="btn btn-primary" href="@Html.ActionLink("Yeni Randevu", "Edit", new { id = item.Id })"></a>
                        <a class="btn btn-primary" href="@Url.Action("Edit","Randevu",new { id=item.Id})">+ Randevu Al</a>

                        //  @Html.ActionLink("Yeni Randevu", "Edit", new { id = item.Id })
                    }
                    else if (item.RandevuDurum == "Aktif")
                    {
                        <a class="btn btn-danger" style="text-align:left; width:75%" href="@Url.Action("Delete","Randevu",new { id=item.Id})">- İptal Et  </a>
                        //   @Html.ActionLink("İptal Et", "Delete", new { id = item.Id })
                    }
                    else
                    {
                        <label>Hata</label>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
