@model IEnumerable<newMHRS.Models.Bolum>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Hastanenize Yeni Bölüm Eklemek İçin Tıklayın.", "Create")
</p>
@*<div class="container-fluid">*@

        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th scope="col">
                        @*@Html.DisplayNameFor(model => model.Ad)*@
                        <label>Bölüm Adı</label>
                    </th>
                    <th scope="col">
                        @*@Html.DisplayNameFor(model => model.Hastahane.Ad)*@
                        <label>Hastahane Adı</label>
                    </th>

                    <th></th>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">
                            @Html.DisplayFor(modelItem => item.Ad)
                        </td>
                        <td scope="row">
                            @Html.DisplayFor(modelItem => item.Hastahane.Ad)
                        </td>


                        <td scope="row" class="text-nowrap">
                            @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm " })

                            @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    @*</div>*@
