@model newMHRS.Areas.Admin.Models.HastaView

@{
    ViewBag.Title = "Hasta Kayıt";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mhrs - Admin</title>
    <!-- Custom fonts for this template-->
    <link href="~/Areas/Content/all.min.css" rel="stylesheet" />
    <link href="~/Areas/Content/google.css" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="~/Areas/Content/sb-admin-2.min.css" rel="stylesheet" />



    <!-- Custom styles for this template-->



</head>

<body style="background-color:aliceblue" id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
    
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

             
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4 style="margin-left:140px;margin-top:50px">Kayıt Oluştur</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Tc, "Tc'niz :", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Tc, new { htmlAttributes = new { @class = "form-control" } })
                                            @ViewBag.hastaVarmis
                                            @Html.ValidationMessageFor(model => model.Tc, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Ad, "Adınız :", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Soyad, "Soyadınız :", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Soyad, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Cinsiyet, "Cinsiyetiniz :", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EnumDropDownListFor(model => model.Cinsiyet, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Cinsiyet, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DogumTarihi, "Doğum Tarihiniz :", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.DogumTarihi, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DogumTarihi, "", new { @class = "text-danger" })
                                            @ViewBag.buyukTarih
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DogumYeri, "Doğum Yeriniz :", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.DogumYeri, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DogumYeri, "", new { @class = "text-danger" })
                                        </div>
                                    </div>



                                </div>


                                <div class="col-md-5">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AnneAdi, "Anne Adınız : ", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.AnneAdi, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AnneAdi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BabaAdi, "Baba Adınız :", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.BabaAdi, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.BabaAdi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CepTel, "Cep Telefonunuz:", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.CepTel, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CepTel, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Mail, "Mailiniz :", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Sifre, "Şifreniz :", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TSifre, "Tekrar Şifreniz :", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.TSifre, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.TSifre, "", new { @class = "text-danger" })
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Kaydet" class="btn btn-success" />
                                            <a class="btn btn-primary" href="@Url.Action("Index","Login")">Geri Dön</a>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-md-1"></div>

                            </div>

                        </div>
                    }

                </div>
                <!-- /.container-fluid -->

            </div>
          

        </div>
   

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="~/Areas/Content/jquery.min.js"></script>
    <script src="~/Areas/Content/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Areas/Content/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->

    <script src="~/Areas/Content/sb-admin-2.min.js"></script>



</body>
</html>