@model newMHRS.Models.Hasta
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="tr">
<head>
    <link href="~/Content/hastaGiris.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>MHRS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


    <div id="login-div">
        @using (Html.BeginForm("Authorise", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <div class="fadeIn first">
                       <a href="@Url.Action("Index","Home")"> <img style="width:180px" src="~/Content/mhrsicon.png" id="icon" alt="User Icon" />
                        </a>
                    </div>
                    <br /><br />
                 
                          <form>

                              <label class="fa fa-user" style="margin-left:20px;color:dodgerblue;font-size:25px">  Hasta Girişi </label><br />
                         

                              <label style="margin-left:14px;color:dodgerblue;font-size:15px">TC :</label>
                              @Html.TextBoxFor(model => model.Tc, new { @class = "fadeIn second", @id = "login", @name = "login" })
                              <label class="field-validation-error text-danger">
                                  @Html.ValidationMessageFor(model => model.Tc)
                              </label><br />
                              <label style="margin-left:5px;color:dodgerblue;font-size:15px">Şifre :</label>
                              @Html.TextBoxFor(model => model.Sifre, new { @class = "fadeIn third", @id = "password", @name = "login" })
                          <label class="field-validation-error text-danger">
                              @Html.ValidationMessageFor(model => model.Sifre)<br />
                            @ViewBag.Message<br />
                          </label>
                              <br />
                              <br />
                              <input type="submit" class="fadeIn fourth" value="Giriş">
                          </form>
                    <div id="formFooter">
                        <a class="underlineHover" href="@Url.Action("Sifre","Login")">Şifremi Unuttum </a>|
                        <a class="underlineHover" href="@Url.Action("Create", "Login")">Kayıt Oluştur</a>
                    </div>

                </div>
            </div>
         
        }
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </div>
    <script>


    </script>

</body>

</html>
